/*********************
    GENERAL STYLES
*********************/

body {
	font-size: 18px;
  line-height: 28px;
  font-family: $sans;
  color: $text-black; 
  background: $white;
}


h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  margin: 1em 0;
  font-family: $sans;
  color: $alt-blue;
  line-height: 1.15em;
  font-weight: normal;
}
h1,.h1 {font-size: 40px;}
h2,.h2 {font-size: 35px;}
h3,.h3 {font-size: 28px;}
h4,.h4 {font-size: 24px;}


a, a:visited {
  color: $alt-blue;
  &:hover, &:active, &:focus {
    color: $blue;
  }
}

a.button, input[type=submit] {
  @include flat-button($blue);
  &:hover {color: $white;}
  &.gray, &.grey { background: $gray; }
}
a.push-button {
  @include push-button($white);
  &:hover {color: $white; }
}

// Reset Formidable Styles
.with_frm_style .frm_form_fields input, #wpcontent .with_frm_style .frm_form_fields select, .with_frm_style .frm_form_fields select, .with_frm_style .frm_form_fields textarea {
  width: auto;
}
.with_frm_style .form-field, .with_frm_style .frm_form_field {
  margin: 0;
}
.with_frm_style label {
  line-height: 1em;
}
input[type=submit] {
  border: none;
  box-shadow: none;
}

.text-small {
  font-size: $text-small;
}


article ul li {
  list-style: disc;
}

hr {
  border-color: $light-blue;
  border-style: solid;
  clear: both;
}
.alignleft {float: left;}
.alignright {float: right;}