.sub-head {
	margin-top: 2em;
  h3{
	 font-weight: normal;
   font-size: 24px;
   line-height: 1.5em;
  }
}

.the-columns {
	margin-top: 1em;
  h3 {margin: 0;}
}

.page-banner {
  margin-top: 2em;
  height: 350px;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    left: 0;
    background: $alt-blue;
    z-index: -1;
  }
  .banner-image {
    margin-top: -40px;
    img {max-width: 100%; height: auto;}
  }
  .banner-content {
    h3 {color: $white;}
    div {color: $text-blue;}
  }
}

.page-contact {
  background-repeat: no-repeat;
  background-size: auto 100%;

  .contact-content-wrap {padding-right: 2em;}
  .contact-content {

    margin: 2.5em 0; 
    font-size: 16px;
    line-height: 1.35rem;
    text-align: right;
    color: $blue;
  }
  .contact-image img {display: block; margin: 0;}

  .page-contact-form {
    label, .frm_required {
      color: $light-blue;
      font-weight: normal;
      font-size: 1rem;
    }
    input[type=text], textarea {
      border-color: $light-blue;
      background: #FAFCFC; // random color from design
      width: 100%;
      margin-bottom: 10px;
    }
    textarea {
      height: 10em;
    }
    input[type=submit] {float: right; font-style: italic;}
  }
}

/* ------------------
    Bev Template
------------------- */

.bev {
  .page-header {
    padding: 2em 0 2em;
  .title-wrap { margin-left: 18em;  } 
  }
  
  .sub-head {
    .bev-image {
      margin-top: -7em;
      img {max-width: 100%;}
    }
  }
}