// **********************
//      Footer
// **********************
.footer {
	background-color: $dark-gray;
}

.footer__lower {
	background-color: #595959;
}

.footer a {
	font-family: $sans;
	color: #d8d8d8;
	text-decoration: none;
}

.footer p {
	color: #717171;
	font-size: 14px;
}

.footer__upper {
	margin-top: 2em;
	margin-left: 1em;
}

.footer__upper h5 {
	color: #3f89b3;
	margin-top: 0;
	margin-bottom: .25em;
	font-family: $sans;
	font-size: 22px;
}


.footer__upper-right {
	color: #c1c1c1;
	font-size: 16px;
}

.footer__upper h6 {
	color: #a5a8a8;
	margin-top: 0;
	margin-bottom: -0.5em;
	font-family: $sans;
	font-size: 22px;
}

.footer__lower a {
	color: #3b3b3b;
	text-decoration: underline;
}

.footer__lower p {
	color: #3b3b3b;
}

.footer li {
	margin-bottom: 1em;
}

.footer_info {
	margin-bottom: .25em;
}

.footer__upper-mid a {
	color: #a5a8a8;
	
}
@include breakpoint(tablet) { 



.footer__upper p{
	margin-top: 0em;
}




.footer__lower-left{
	float: left;
}

.footer__lower-right{
	float: right;
}

#menu-footer-links {
	margin: 0;
}




 }
 
 @include breakpoint(mobile) { 
 .footer__lower-right{
	 margin-left: 1em;
 }
 .footer__upper-mid {
	 margin-bottom: 1em;
 }
 .footer__upper-right {
	 margin-bottom: 1em;
 }
 
}