
/*********************
        Slider
*********************/

.slider {
  .inner-slider {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 465px; 
    margin: 0 auto;
    background-size: cover;
    background-position: 20%;
  }
  .slider-content {
    padding: 1em;
    .slider-header h2 {
      margin: 0;
      color: $white;
      font-style: italic;
    }
    @include breakpoint(mobile) {
      .slider-cta {
        position: absolute;
        bottom: 1em;
        left: 0;
        width: 100%;
        .button { 
          display: block;
          width: 50%;
          max-width: 250px;
          margin: 0 auto;
          text-align: center;
          font-style: italic; 
        }
      }
    }
  }
}

@include breakpoint(tablet) {
.slider {
    .inner-slider {
      background-position: 35%; 
    }
    .slider-content {
      position: absolute;
      top: 5em;
      left: 40%;
      width: 60%;
      max-width: 500px;
      h2 {
        font-size: 44px;
        font-weight: normal;
      }
    }
  }
}

/*********************
        TABS
*********************/

// Find Tabs styles @ _producttabs.scss

/*********************
      MARKETING
*********************/

.marketing {

  .marketing-message{
    padding-bottom: 8.5em;
    background-image: url($svg-path + "dedication-graphic.svg");
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: left bottom;
    .marketing-title .text-light {font-weight: normal; color: $light-blue;}
  }

  .hot-news {
    .hot-news-title {color: $text-black; margin: 0; margin-top: 1em;}
    .post-date {
      font-family: $sans; font-weight: bold;
      background-image: url($icon-path + "icon-clock.svg");
      background-repeat: no-repeat;
      background-size: 25px;
      padding-left: 30px;
      margin-bottom: 10px;
    }
    .article-header h4 {
      font-family: $sans;
      font-weight: normal;
      margin: 0;
    }
    .entry-content p {
      margin-bottom: 0;
      line-height: 24px;
    }
    .article-footer a {
      color: $text-black;
      font-family: $sans; 
      font-stretch: condensed; 
      &:hover {color: $alt-blue;}
    }
    .more-posts {
      margin-top: 1.5em;
    }
  }
} // End Marketing Base (& mobile)

@include breakpoint(tablet) {
  .marketing {
    .inner-marketing {position: relative;}
    .more-posts {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
} // End Marketing Tablet

@include breakpoint (desktop) {
  .marketing {
    .marketing-message {
      background-size: 400px;
    }
  }
}

/*********************
        VIDEO
*********************/

.home-video {
  position: relative;
  background: $light-blue;
  margin: 2em 0 0;
  padding: 1em 0;
  .video-title {
    color: $white;
    font-weight: normal;
    margin: 0;
  }
  .video-sub-title {
    color: lighten($light-blue, 20%);
    margin: 10px 0;
    font-size: 22px;
  }
  .video-icon {
    display: none;
  }
}

@include breakpoint(tablet) {
  .home-video {
    margin: -1em 0 0;
    .video-icon {
      display: block;
      position: relative;
      z-index: 0;
      img {
        display: block;
        position: absolute;
        top: -3em;
      }
    }
  }
}

/*********************
  FEATURED PRODUCTS
*********************/

.featured-products {
  position: relative;
  z-index: 2;
  padding: 2em 0;
  background: $baby-blue;
  
  .featured-products-inner {
    position: relative;
    overflow: visible;
  }

  .products-content {
    padding: 0 1em;
    h2 {font-weight: normal; margin-bottom: 0;}
    p {color: darken($light-blue, 10%);}
  } 

  .products-images {  
    .product {
      position: relative;
      z-index: 2;
      display: inline-block;
      width: 28%;
      max-width: 150px;
      margin-top: 2em;
      vertical-align: top;
      img {max-width: 100%; max-height: 170px;}
      p {text-align: center; color: $text-black; }
      a {text-decoration: none;}

      @include breakpoint(tablet) {
        margin-right: 2em;
        &:last-child { margin-right: 0; }
      }
    }
  }

  .products-pattern {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 10%;
    opacity: .75 ;
    background: url($svg-path + 'honeycomb-pattern.svg');
    background-repeat: no-repeat;
    background-size: 150%;
    @include breakpoint(tablet) {
      width: 600px;
      height: 130%;
      top: 0;
      background-size: 100%;
      left: 0;
    }
  }

}


/*********************
  FEATURED PRODUCTS
*********************/

.connect {
  position: relative;
  background: #F9F9F9;
  
  .connect-left {display: none;}
  

  .connect-inner {position: relative; z-index: 1;}
  .connect-top {
    background: $white;
    text-align: center;
    padding: 1em 0 2em;;
    h2 {font-weight: normal;}
    p {color: $blue;}
  }
  .connect-social {
    $social-gray: #CACACA;
    h4 {color: $social-gray; font-weight: normal;}
    .social-profile {display: inline-block; margin: .5em 1em;}
    img {opacity: .25; }
  }

  .connect-bottom {
    background-color: none;
    background-image: url($png-path + 'cta-bag.png');
    background-repeat: no-repeat;
    background-size: 90%; 
    background-position: center 110%;
    padding-bottom: 7em;
    text-align: center;
    h3 {color: $blue;}
    p {color: lighten($text-black, 10%);}
  }
}

@include breakpoint(tablet) {
  .connect {
    .connect-left {
      display: block;
      background: $white;
      position: absolute;
      z-index: 0;
      height: 100%;
    }

    .connect-top {
      position: relative;
      padding: 2em 1em 2.5em 0;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -50px;
        width: 50px;
        height: 100%;
        background-image: url($png-path + 'sidearrow.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center; 
      }
    }

    .connect-social h4 {
      font-weight: normal;
      font-size: 25px;
      margin-top: .5em;
    }

  } 
}