/*********************************
        Susy Grid Config
**********************************/

// Susy Setup
$total-columns: 12;
$column-width: 50px;
$gutter-width: 30px;
$grid-padding: 10px;
$continer-style : fluid;
$container-width: 980px; // Subtracting padding, the page width is 980px


// Container
.wrap { 
  @include container;
  width: 96%;
}

// Mobile Grid Columns span 100%
.onecol,
.twocol,
.threecol,  
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  @include span-columns($total-columns, $total-columns);
}

// At tablet grid is implemented
@include breakpoint(tablet) {
  .onecol     {@include span-columns(1,  $total-columns);}
  .twocol     {@include span-columns(2,  $total-columns);}
  .threecol   {@include span-columns(3,  $total-columns);}
  .fourcol    {@include span-columns(4,  $total-columns);}
  .fivecol    {@include span-columns(5,  $total-columns);}
  .sixcol     {@include span-columns(6,  $total-columns);}
  .sevencol   {@include span-columns(7,  $total-columns);}
  .eightcol   {@include span-columns(8,  $total-columns);}
  .ninecol    {@include span-columns(9,  $total-columns);}
  .tencol     {@include span-columns(10, $total-columns);}
  .elevencol  {@include span-columns(11, $total-columns);}
  .twelvecol  {@include span-columns(12, $total-columns);}

  .onecol.omega     {@include span-columns(1 omega,  $total-columns);}
  .twocol.omega     {@include span-columns(2 omega,  $total-columns);}
  .threecol.omega   {@include span-columns(3 omega,  $total-columns);}
  .fourcol.omega    {@include span-columns(4 omega,  $total-columns);}
  .fivecol.omega    {@include span-columns(5 omega,  $total-columns);}
  .sixcol.omega     {@include span-columns(6 omega,  $total-columns);}
  .sevencol.omega   {@include span-columns(7 omega,  $total-columns);}
  .eightcol.omega   {@include span-columns(8 omega,  $total-columns);}
  .ninecol.omega    {@include span-columns(9 omega,  $total-columns);}
  .tencol.omega     {@include span-columns(10 omega, $total-columns);}
  .elevencol.omega  {@include span-columns(11 omega, $total-columns);}
  .twelvecol.omega  {@include span-columns(12 omega, $total-columns);}
}


.first {
  margin-left: 0;
}

.last {
  margin-right: 0;
}

.clearfix {
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}
