/*********************
        HEADER
*********************/

.header {
  position: relative;
  min-height: 70px;
  background: $light-blue;
  border-top: 5px solid $alt-blue;
  //border-bottom: 2px solid $alt-blue;
  
  .header-top {
    @include breakpoint(mobile) {
      @include span-columns(6,12); 
      margin-bottom: -1em;
    }
  }

  #logo {
    position: relative;
    z-index: 9999;
    .logo {
      width: 100%;
      height: auto;
    }
  }

  .phone-numbers, .header-contact {display: none;}
   
}

// Tablet and above
@include breakpoint(tablet) {
  .header {
    background: $white;

    #logo .logo {max-width: 200px; margin-top: .5em;}
    
    .phone-numbers {
      display: block;
      width: 41%;
      margin-top: 3em;
      margin-right: 0;
      padding-left: 3em;
      font-size: $text-small;
      .phone-icon {float: left;}
    }
    
    .header-contact {
      display: block;
      position: relative;
      max-width: 250px;
      margin-top: 2em;
      font-size: $text-small;
      img {width: 25px; height: auto;}
      .contact-inner {
        border: 5px solid $blue;
        border-radius: 10px;
        padding: 5px;
      }
      .contact {
        position: relative;
        text-align: center;
        border-right: 1px solid $light-blue;
        margin-top: 3px; // icon size adjustment
      }
      .social-media {
        position: relative;
        text-align: center;
        .social-profile {
          display: inline-block;
          margin: 0 .5em;
        }
      }
      .contact-label {
        position: absolute;
        display: block;
        width: 100%;
        bottom: -3em;
        font-size: $text-tiny;
        font-weight: bold;
        text-align: center;
      }
    }

  } 
} // End Tablet BP

@include breakpoint(desktop) {
  .header {
    .phone-numbers {
      text-align: center;
      padding: 0;
      .phone-icon {display: inline-block; float: none;}
      .phn {
        display: inline-block;
        position: relative;
        top: -.5em; // align numbers with icon
      }
      .phn.phone-standard {
        margin-right: .75em;
      }
    }
  }
} // End Desktop BP


/*********************
        NAV
*********************/
@include breakpoint(mobile) {
  .main-nav {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;   left: 0;
    overflow: hidden;
    background: $light-blue;
    border-bottom: 2px solid $blue;
    transition: all .5s ease-in-out;
    max-height: 100%;
    &.active { // Expand Menu When Nav-Toggle is Click (toggle in scripts.js)
      max-height: 1500px;
    } 

    ul.nav {
      margin-top: 25%;
      padding: 0;
      background: $light-blue;
      border-top: 1px solid darken(desaturate($light-blue, 10%), 5%); 
      border-bottom: 1px solid lighten(desaturate($light-blue, 5%), 5%); 
      li {
        position: relative;
        a {
          display: block;
          padding: .75em .5em;
          color: $text-blue;
          font-weight: bold;
          text-decoration: none;
          border-top: 1px solid lighten(desaturate($light-blue, 5%), 5%); 
          border-bottom: 1px solid darken(desaturate($light-blue, 10%), 5%); 
        }
      }
    }

    .nav-object > a {
      color: $black;
      position: absolute;
      left: -999999px;
      z-index: -99;
    }

    ul.sub-menu {
      max-height: 0;
      overflow: hidden;
      margin: 0;
      background: lighten(desaturate($light-blue, 10%), 5%);
      transition: all .25s ease-in-out;
      li a {
        border: none;
        padding: .5em;
        padding-left: 1.5em;
      }
    }
    li.sub-active ul.sub-menu { max-height: 400px; }

    .nav-toggle {
      float: right;
      margin: 6%;
      pointer: cursor;
    }
    .sub-nav-toggle {
      $arrow-color: lighten(desaturate($light-blue, 5%), 15%);
      @include nav-arrow($arrow-color);
      position: absolute;
      z-index: 9;
      top: 0;
      right: 0;
      width: 3em;
      height: 100%;
      cursor: pointer;
    }
  } 

  .mobile-contact {
    padding: .5em .5em 3em;
    color: $text-blue;

    .contact-icon {height: 1em;}
    .contact-link {
      text-decoration: none;
      font-weight: bold;
      color: $text-blue;
      span {text-decoration: underline;}
    }

    .mobile-phone-numbers {
      margin-top: 1em;
      .phone-icon {
        float: left;
        height: 1em;
      }
      .numbers-wrap {
        float: left;
      }
      .phn {margin-bottom: .5em;}
    }
  }

} // End Mobile BP

// Tablet and above
@include breakpoint(tablet) {
  .mobile-contact, .nav-toggle { display: none; }

  .main-nav {
    position: absolute;
    z-index: 99;
    width: 100%;
    top: auto;
    left: 0;
    background: rgba($white, .85); 
    border-top: 1px solid $light-blue;
    border-bottom: 2px solid $blue;

    ul.nav {
      max-width: 940px;
      margin: 0 auto;
      padding: 0;
      > li {
        display: inline-block;
        max-width: 24%;
        margin: 0 .5em;
        text-align: center;
        vertical-align: top;
        font-size: 16px;
        > a {
          display: block;
          position: relative;
          padding: .5em 0;
          color: $text-blue;
          font-weight: bold;
          text-decoration: none;
        }
        > ul.sub-menu { display: none; }
        &:hover > ul.sub-menu { display: block; }
          // Arrow
        &:hover > a:after {
          content:"";
          position:absolute;
          z-index: 9;
          top:auto; 
          left:50%;
          margin-left: -5px; 
          border-width:0 10px 10px; 
          border-style:solid;
          border-color:$black transparent ;
          // reduce the damage in FF3.0
          display:block; 
          width:0;
        }
      }
    }
    
    li.nav-column-wrap {
      position: relative;
      max-width: 980px; 
      margin: 0 auto;
      padding: 1em 0;
      > ul.sub-menu {@include clearfix; padding-left: 2em}
      li.nav-left { float: left; margin-right: 4em;}
      li.nav-right { float: left; }
    }

    .nav-object > a {
      color: $black;
      position: absolute;
      left: -999999px;
      z-index: -99;
    }

    ul.nav > li > ul.sub-menu {
      position: absolute;
      left: 0;
      top: auto;
      width: 100%;
      margin: 0;
      padding: 0 5%;
      background: $black;
      border-top: 1px solid $blue;
    }

    .nav-column-wrap ul.sub-menu {
      @include clearfix;
      overflow: visible;
      margin: 0;
      li {
        text-align: left;
        a {
          display: block;
          padding: .75em 0;
          padding-left: 2em;
          color: $gray;
          text-decoration: none;
          &:hover {color: $blue;}
        }
      }
    }

    // get nav items with class that starts with 'icon'
    li[class*='icon-'] {
      a {position: relative;}
      a:after, a:before {
        content: none;
        position: absolute;
        left: -1em; 
        top: 50%;
        margin-top: -17px;
        width: 35px;
        height: 35px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      a:after {content: '';}
      &:hover a:after{content: none;}
      &:hover a:before{content: '';}
    }
    // Icon definitions
    .icon-glass  {@include nav-icon('icon-glass');}
    .icon-cow    {@include nav-icon('icon-cow');}
    .icon-beaker {@include nav-icon('icon-beaker');}
    .icon-wine   {@include nav-icon('icon-wine');}
    .icon-oil    {@include nav-icon('icon-oil');}
    .icon-pizza  {@include nav-icon('icon-pizza');}
    

    // Image Navigation
    li.nav-image-wrap {
      max-width: 980px;
      margin: 0 auto 1em;
    }
    li.nav-image-wrap ul li {
      float: left;
      width: 30%;
      &.image-cooler {width: 39%;}
      a {
        display: block;
        position: relative;
        color: $gray;
        text-decoration: none;
        padding-top: 10em;
        &:hover {color: $blue;}
      }
      a:after {
        content: '';
        position: absolute;
        top: 1em;
        left: 50%;
        margin-left: -20%;
        width: 100px;
        height: 150px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      &.image-tea       {@include nav-image('tea')}
      &.image-cooler    {@include nav-image('cooler')}
      &.image-carry-out {@include nav-image('carry-out')}
    }

  }
} // End Nav Tablet

@include breakpoint(desktop) {
  .main-nav {
    ul.nav {
      > li {margin: 0 2em;}
      > li:last-child {margin-right: 0;}
      > li:first-child {margin-left: 0;} 
    }
  }
} // End Nav Desktop