// **********************
//      Variables
// **********************

  // Colors
    $blue       :   #63b4ff;
    $dark-blue  :   #1560B5;
    $light-blue :   #97d1f4;
    $alt-blue   :   #2288e0;
    $text-blue  :   #012f3d;
    $header-blue :	#d0ebf9;
    $baby-blue  :   #EBF6FC;
    $black      :   #2d2d2d;
    $text-black :   #4f4f4f;
    $gray       :   #848383;
    $light-gray :   #f0f1f4;
    $dark-gray  :   #464747;
    $white      :   #fff;


  // Breakpoints 
    $bp-desktop :   980px;
    $bp-tablet  :   768px;
    $bp-mobile  :   767px;

  // Typography
    $sans       :   'helvetica nueu', 'helvetica', sans;
    
    $text-tiny  :   12px;
    $text-small :   14px;

  // Asset Paths
    $icon-path  :   "/wp-content/themes/parish/library/images/icons/";
    $svg-path   :   "/wp-content/themes/parish/library/images/svg/";
    $png-path   :   "/wp-content/themes/parish/library/images/png/";
    $jpg-path   :   "/wp-content/themes/parish/library/images/jpg/";
 
// **********************
//        Mixins
// **********************
  
  // Breakpoint Mixin
    @mixin breakpoint($point) {
      @if $point == desktop {
        @media (min-width: $bp-desktop) { @content; }
      }
      @else if $point == tablet { 
        @media (min-width: $bp-tablet) { @content; }
      }
      @else if $point == mobile {
        @media (max-width: $bp-mobile)  { @content; }
      }
      @else if $point == retina {
        @media  (min-device-pixel-ratio: 1.5),
                (-webkit-min-device-pixel-ratio: 1.5)
                { @content; }
      }
    }

  // Nav Icons
  @mixin nav-icon($name) {
    a:after  {background-image: url($icon-path + $name + ".svg");}
    a:before {background-image: url($icon-path + $name + "@hover.svg");}
  }

  // Nav Images
  @mixin nav-image($name) {
    a:after  {background-image: url($png-path + $name + ".png");}
    @include breakpoint(retina) {
      a:after {background-image: url($png-path + $name + "@2x.png");}
    }
  }

  // Buttons
  @mixin flat-button ($color: $blue, $hover: $alt-blue, $text-color: $white) {
    display: inline-block;
    padding: .75em 1em;
    margin: .5em 0;
    border-radius: 5px; 
    background: $color;
    color: $text-color;
    text-decoration: none;
    &:hover { background: $hover; }
  }

  @mixin push-button($color: $white, $hover: $alt-blue, $text-color: $alt-blue) {
    @include flat-button;
    color: $alt-blue;
    font-weight: bold;
    background: $color;
    border-radius: 20px;
    border-bottom: 3px solid darken($hover, 15%);
    &:hover {background: $hover;}
  }

  // Nav Arrows 
  @mixin nav-arrow($color) { 
    position: relative;
    &:after {
      content:"";
      position:absolute;
      z-index: 9;
      top: 20px;
      left:50%;
      margin-left: -5px; 
      border-width: 10px 10px 0px; 
      border-style:solid;
      border-color: $color transparent;
      // reduce the damage in FF3.0
      display:block; 
      width:0;
    }
  }

