.page-header {
	background-color: $header-blue;
	background-image: url($png-path + "logo-dupe.png");  
  background-size: 100px;
  padding: 4em 0 1em;

	h1 { margin: 0; }
	.breadcrumbs {
		margin: 0;
		color: $alt-blue;
		font-size: $text-small;
		a {
			color: $alt-blue;
			text-decoration:  none;
		}
	}
	.header-image {
		float: left;
		max-width: 150px;
		img {max-width: 100%; height: auto;}
	}
	.title-wrap {
		float: left;
		margin-top: 3em;
		margin-left: 2.5em;
	}
}

.three_dudes {
	margin-top: 3.8em;
	border-bottom: solid 1px $light-blue;
}

.three_dudes > div {
	margin-top: -3.8em;
}

.three_dudes:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 250px;
	left: 0;
	background: $blue;
	z-index: -1;
}

@include breakpoint(mobile) { 

	.header_title {
		margin-left: 0em;
	}

	.three_dudes > div {
		margin-top: 0em;
	}
	.three_dudes:before {
		display: none;
	}

}