//#container {max-width: 320px; margin: 0 auto; background: white;} body {background: black;}
/*********************
    MOBILE TABS
*********************/
@include breakpoint(mobile) {
  .mobile-tabs {
    background: $alt-blue;
    border-top: 2px solid $blue;
    .products-title {
      color: $white;
      text-align: center;
      font-weight: normal;
      margin: 0;
      padding: .5em 0;
    }
    .products {
      padding: 0 .5em 2em;
    }

    .product {
      background: $dark-blue; 
      margin-bottom: 2px;
      @include nav-arrow($blue);
        &:after {
          top: 1.5em;
          right: 1em;
          left: auto;
        }
      .icon {
        display: block;
        float: left;
        padding: 5px;
        margin: 0;
        border-right: 2px solid $alt-blue;
      }
      .product-title {
        float: left;
        color: $white;
        font-size: 1.25rem;
        margin: 18px 0;
        padding-left: 1em;
        font-weight: normal;
      }

      .product-content {
        padding: 0 .5em;
        max-height: 0;
        overflow: hidden;
        transition: all .25s ease-in-out;
        &.tab-active { max-height: 400px; border-top: 2px solid $alt-blue;}
        p {color: $white; font-size: $text-small;}
      }
      .push-button {
        font-size: $text-small;
        border-bottom-color: $alt-blue;
      }   

    }
  }
}


/*********************
    DESKTOP TABS
*********************/

@include breakpoint(tablet) {
  .desktop-tabs {
    
    .tabs {background: $alt-blue; border-top: 2px solid $blue}
    .tabs-inner {
      position: relative;
      min-height: 300px;
      padding: 2em 0;
      transition: all .25s ease-in-out;
    }
    .tab {
      position: absolute;
      display: none;
      visibility: hidden;
      &.tab-active {display: block; visibility: visible;}
    
      .content-title {
        color: $light-blue;
        font-weight: normal;
        margin: 0;
      }
      .content-inner p { color: $light-blue; }
      .push-button:hover { background: $blue; color: $white;}
    }

    .tabs-navigation {
      background: $dark-gray;
      ul {
        margin-top: 0;
        margin-bottom: 0;
        padding: 1.5em 0;
      }
      li {
        float: left;
        width: 14%;
        cursor: pointer;
        text-align: center;
        color: $gray;
      }
      .tab-title { padding-top: 50px; margin: 0;}
      .icon-wrap {
        position: relative;
        img { position: absolute; left: 50%; margin-left: -25px;}
        .icon-hover { opacity: 0; }
      }
      li.tab-current {
        @include nav-arrow($alt-blue);
        &:after {
          top: -27px;
          border-width: 20px 20px 0;
          margin-left: -20px;
        }
      }

      li:hover img.icon-normal {display: none;}
      li:hover img.icon-hover {opacity: 1;}
      li:hover .tab-title {color: $white;}
    }

  }
}