/* import mixins */
/*********************************
        Susy Grid Config
**********************************/
.wrap {
  *zoom: 1;
  max-width: 960px;
  _width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  width: 100%;
  float: left;
  margin-right: 3.22581%;
  display: inline;
}

@media (min-width: 768px) {
  .onecol {
    width: 5.37634%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .twocol {
    width: 13.97849%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .threecol {
    width: 22.58065%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .fourcol {
    width: 31.1828%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .fivecol {
    width: 39.78495%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .sixcol {
    width: 48.3871%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .sevencol {
    width: 56.98925%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .eightcol {
    width: 65.5914%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .ninecol {
    width: 74.19355%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .tencol {
    width: 82.7957%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .elevencol {
    width: 91.39785%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .twelvecol {
    width: 100%;
    float: left;
    margin-right: 3.22581%;
    display: inline;
  }

  .onecol.omega {
    width: 5.37634%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }

  .twocol.omega {
    width: 13.97849%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }

  .threecol.omega {
    width: 22.58065%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }

  .fourcol.omega {
    width: 31.1828%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }

  .fivecol.omega {
    width: 39.78495%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }

  .sixcol.omega {
    width: 48.3871%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }

  .sevencol.omega {
    width: 56.98925%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }

  .eightcol.omega {
    width: 65.5914%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }

  .ninecol.omega {
    width: 74.19355%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }

  .tencol.omega {
    width: 82.7957%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }

  .elevencol.omega {
    width: 91.39785%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }

  .twelvecol.omega {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -30px;
    display: inline;
  }
}
.first {
  margin-left: 0;
}

.last {
  margin-right: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
